.como-jogar {
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 500px;
  border: 10px solid red;
  background: white;
  position: absolute;
}
